@model RequestSequenceViewModel
@using WebView.Models.Results
@{
    Layout = "_Sidebar";
}

@section Sidebar
{
    <h3>Labels:</h3>
    @foreach (RequestSequenceLabelViewModel label in Model.Labels)
    {
        @await Html.PartialAsync("_RequestSequenceLabel", label);
    }
    @{
        RequestSequenceLabelViewModel model = new RequestSequenceLabelViewModel();
        model.sequence_id = Model.id.GetValueOrDefault(0);
    }
    @await Html.PartialAsync("_RequestSequenceLabelPicker", model)
}

<a asp-controller="Results" asp-action="Summary" asp-route-id="@(Model.run_id)" role="button" class="btn btn-primary">Back to run summary</a>
<br />
<div class="row justify-content-between">
    <div class="col-4">
        @if (Model.prev_id != null)
        {

            <a asp-controller="Results" asp-action="Sequence" asp-route-id="@(Model.prev_id)" role="button" class="btn btn-secondary">Previous</a>

        }
    </div>
    <div class="col-4">
        @if (Model.next_id != null)
        {

            <a asp-controller="Results" asp-action="Sequence" asp-route-id="@(Model.next_id)" role="button" class="float-right btn btn-secondary">Next</a>
        }
    </div>
</div>
<br />
<div class="accordion" id="accordionExample" style="width:100%">
    @{
        for (int i = 0; i < Model.request_count; ++i)
        {
            if (i < Model.Substitutions.Count)
            {
                @await Html.PartialAsync("SubstitutionsFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Substitution", Model.Substitutions[i] },
                        { "SequencePosition", i }
                    });
            }
            if (i < Model.Requests.Count)
            {
                @await Html.PartialAsync("RequestFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Request", Model.Requests[i] }
                    });
            }
            if (i < Model.Responses.Count)
            {
                @await Html.PartialAsync("ResponseFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Response", Model.Responses[i] }
                    });
            }

        }
    }
</div>

<br>
@if (Model.ShowMetadata)
{
    <h3>Debug Metadata</h3>
    @foreach (SequenceMetadataViewModel metadata in Model.Metadata)
    {
        <b>@metadata.Type</b>
        <p>@metadata.Content</p>
        <br>
    }
}
