@model List<RequestSequenceViewModel>

@{
    ViewData["Title"] = "Summary";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Url</th>
            <th scope="col">Tags</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; ++i)
        {
            string url = Model[i].Requests[Model[i].Requests.Count - 1].url;
            string result = Model[i].Responses[Model[i].Responses.Count - 1].status;
            <tr>
                <th scope="row"><a asp-controller="Results" asp-action="Sequence" asp-route-id="@Model[i].id">@Model[i].id</a></th>
                <td>@result</td>
                <td>@url</td>
                <td>
                    @foreach (RequestSequenceLabelViewModel label in Model[i].Labels)
                    {
                        <span class="badge @RequestSequenceLabelViewModel.ColorMappings.GetValueOrDefault(label.name,"badge-primary")">@label.name</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
