@model List<SequenceSummaryViewModel>

@{
    ViewData["Title"] = "Scan Results";
}

<h1>@ViewData["Title"]</h1>
<table class="table" id="sequence-summary-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Url</th>
            <th scope="col">Tags</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SequenceSummaryViewModel summary in Model)
        {
            <tr>
                <th scope="row"><a asp-controller="Results" asp-action="Sequence" asp-route-id="@(summary.sequence_id)">@(summary.sequence_id)</a></th>
                <td>@summary.status</td>
                <td class="text-break">@summary.url</td>
                <td>
                    @foreach (RequestSequenceLabelViewModel label in summary.Labels)
                    {
                        <span class="badge @RequestSequenceLabelViewModel.ColorMappings.GetValueOrDefault(label.name,"badge-primary")">@label.name</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#sequence-summary-table').DataTable();
        } );
    </script>
}
